body {
    background: tan;
    margin: 0;
    padding: 0;
}

h3 {
    font-family: cursive;
}

#info-panel {
    display: none;
    background: antiquewhite;
    padding: 5px;
    font-family: cursive;
}

#scores {
    float: right;
}

#intro {
    margin: 10% 30%;
    font-family: cursive;
}

.bottom-side {
    display: flex;
}
.bottom-side div{
    margin-left: 30%;
}

button#start {
    float: right;
}

#home,
#forest,
#city {
    display: none;
    margin: 0 20%;
}

#notification {
    background: #b50f0f;
    color: white;
    display: none;
    position: absolute;
    font-family: cursive;
    right: 0;
    top: 29px;
    width: 285px;
    box-shadow: -3px 1px 11px #676565;
}

#ntf-ok,
#ntf-text,
#ntf-title {
    margin-left: 10px;
    margin-bottom: 10px;
    /* background: coral;*/
}

img {
    width: 630px;
}